@font-face {
  font-family: 'Vollkorn';
  src: url('../assets & font/Vollkorn/static/Vollkorn-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Vollkorn';
  src: url('../assets & font/Vollkorn/static/Vollkorn-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Vollkorn';
  src: url('../assets & font/Vollkorn/static/Vollkorn-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Vollkorn';
  src: url('../assets & font/Vollkorn/static/Vollkorn-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Vollkorn';
  src: url('../assets & font/Vollkorn/static/Vollkorn-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Vollkorn';
  src: url('../assets & font/Vollkorn/static/Vollkorn-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Vollkorn';
  src: url('../assets & font/Vollkorn/static/Vollkorn-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Vollkorn';
  src: url('../assets & font/Vollkorn/static/Vollkorn-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Vollkorn';
  src: url('../assets & font/Vollkorn/static/Vollkorn-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Vollkorn';
  src: url('../assets & font/Vollkorn/static/Vollkorn-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Vollkorn';
  src: url('../assets & font/Vollkorn/static/Vollkorn-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Vollkorn';
  src: url('../assets & font/Vollkorn/static/Vollkorn-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

body {
    background-color: #E4DBD2;
    width: 1560px;
    overflow-x: hidden;
    display: flex; 
    font-family: 'Vollkorn';
    position: relative;
    margin-right: -8px;
    margin: 0px;
    padding: 0px;
}
.V {
    position: absolute;
    top: 48px;
    left: 50px;
    font-weight: 900;
    font-size: 300px;
    color: #3A2C1F;
    transform: rotate(-18deg);
}
.littleO1 {
    position: absolute;
    top: 130px;
    left: 258px;
}
.l {
    position: absolute;
    top: 46px;
    left: 454px;
    font-weight: 900;
    font-size: 300px;
    color: #3A2C1F;
    transform: rotate(14deg);
}
.ll {
    position: absolute;
    top: 211px;
    left: 592px;
    font-weight: 900;
    font-size: 300px;
    color: #3A2C1F;
    transform: rotate(-2deg);
}
.k {
    position: absolute;
    top: 185px;
    left: 729px;
    font-weight: 900;
    font-size: 300px;
    color: #3A2C1F;
    transform: rotate(-2deg);
}
.bigO1 {
    position: absolute;
    top: 206px;
    left: 939px;
}
.r {
    position: absolute;
    top: 90px;
    left: 1130px;
    font-weight: 900;
    font-size: 300px;
    color: #3A2C1F;
    transform: rotate(-13deg);
}
.n {
    position: absolute;
    top: 87px;
    left: 1326px;
    font-weight: 900;
    font-size: 300px;
    color: #3A2C1F;
    transform: rotate(6deg);
}
.cups {
    position: absolute;
    top: 504px;
    left: -8px;
    
}
.line1 {
    position: absolute;
    top: 344px;
    left: -5px;
}
.bigpic {
    position: absolute;
    top: 1234px;
    left: 0px;
}
.t1 {
    width: 1089px;
    text-align: center;
    font-family: 'Vollkorn';
    font-weight: 500;
    font-size: 42px;
    color: #6C523B;
    position: absolute;
    top: 1747px;
    left: 250px;
}
.littleO2 {
  position: absolute;
  top: 1613px;
  left: 665px;
}
.name {
    position: absolute;
    top: 2331px;
    left: 519px;
    font-weight: 900;
    font-size: 54px;
    color: #7B5D45;
    z-index: 10;
    text-align: center;
}
.ri {
    position: absolute;
    top: 2435px;
    left: 559px;
    font-weight: 400;
    font-size: 52px;
    color: #7B5D45;
    z-index: 10;
}
.mi {
    position: absolute;
    top: 2544px;
    left: 559px;
    font-weight: 500;
    font-size: 52px;
    color: #7B5D45;
    z-index: 10;
}
.sbi {
    position: absolute;
    top: 2651px;
    left: 559px;
    font-weight: 600;
    font-size: 52px;
    color: #7B5D45;
    z-index: 10;
}
.bi {
    position: absolute;
    top: 2758px;
    left: 559px;
    font-weight: 700;
    font-size: 52px;
    color: #7B5D45;
    z-index: 10;
}
.ebi {
    position: absolute;
    top: 2865px;
    left: 559px;
    font-weight: 800;
    font-size: 52px;
    color: #7B5D45;
    z-index: 10;
}
.bbi {
    position: absolute;
    top: 2966px;
    left: 559px;
    font-weight: 900;
    font-size: 52px;
    color: #7B5D45;
    z-index: 10;
}
.rii {
    position: absolute;
    top: 2435px;
    left: 851px;
    font-weight: 400;
    font-size: 52px;
    color: #7B5D45;
    z-index: 10;
}
.mii {
    position: absolute;
    top: 2544px;
    left: 851px;
    font-weight: 500;
    font-size: 52px;
    color: #7B5D45;
    z-index: 10;
}
.sbii {
    position: absolute;
    top: 2651px;
    left: 851px;
    font-weight: 600;
    font-size: 52px;
    color: #7B5D45;
    z-index: 10;
}
.bii {
    position: absolute;
    top: 2758px;
    left: 851px;
    font-weight: 700;
    font-size: 52px;
    color: #7B5D45;
    z-index: 10;
}
.ebii {
    position: absolute;
    top: 2865px;
    left: 851px;
    font-weight: 800;
    font-size: 52px;
    color: #7B5D45;
    z-index: 10;
}
.bbii {
    position: absolute;
    top: 2966px;
    left: 851px;
    font-weight: 900;
    font-size: 52px;
    color: #7B5D45;
    z-index: 10;
}
.bigO2 {
  position: absolute;
  top: 1558px;
  left: 1105px;
}
.fontmenu {
  position: absolute;
  top: 2316px;
  left: 291px;
  z-index: 1;
}
.littleO3 {
  position: absolute;
  top: 2713px;
  left: 35px;
}
.bigO3 {
  position: absolute;
  top: 2414px;
  left: 1316px;
}
.line2 {
  position: absolute;
  top: 2330px;
  left: 0px;
}
.line3 {
  position: absolute;
  top: 2804px;
  left: 1265px;
}
.H1 {
    font-family: 'Vollkorn';
    font-weight: 900;
    font-size: 70px;
    color: #6C523B;
    position: absolute;
    top: 3241px;
    left: 63px;
}
.t2 {
    width: 720px;
    font-family: 'Vollkorn';
    font-weight: 500;
    font-size: 42px;
    color: #6C523B;
    position: absolute;
    top: 3390px;
    left: 63px;
}
.letter1 {
  position: absolute;
  top: 3672px;
  left: 735px;
}
.letter2 {
  position: absolute;
  top: 3365px;
  left: 1174px;
}
.bigO4 {
  position: absolute;
  top: 3781px;
  left: 103px;
}
.littleO4 {
  position: absolute;
  top: 3815px;
  left: 332px;
}
.line4 {
  position: absolute;
  top: 3406px;
  left: 0px;
}
.line5 {
  position: absolute;
  top: 3525px;
  left: 1047px;
}
.H2 {
    font-family: 'Vollkorn';
    font-weight: 900;
    font-size: 70px;
    color: #6C523B;
    position: absolute;
    top: 4301px;
    left: 63px;
}
.bigpic2 {
  position: absolute;
  top: 4421px;
  left: 63px;
}
.H3 {
    font-family: 'Vollkorn';
    font-weight: 900;
    font-size: 70px;
    color: #6C523B;
    position: absolute;
    top: 5460px;
    left: 63px;
}
.menu {
  position: absolute;
  top: 5613px;
  left: 126px;
}
.coffeecup {
  position: absolute;
  top: 5656px;
  left: 907px;
}
.oO {
  position: absolute;
  top: 6409px;
  left: 545px;
  z-index: 10;
}
.f {
  position: absolute;
  top: 6724px;
  left: 60px;
  z-index: 10;
  font-weight: 500;
  color: #FFFFFF;
  font-size: 64px;
}
.ff {
  position: absolute;
  top: 6821px;
  left: 60px;
  z-index: 10;
  font-weight: 500;
  color: #FFFFFF;
  font-size: 64px;
}
.ending {
    position: absolute;
    top: 6642px;
    left: -8px;
    margin-bottom: 0;
    z-index: 1;
}

